$white-color: #ffff;
$black-color: #222;
$grey-color: #2d2815;
$cta-color: #706233;
$message-color: #e2d4b1;
$component-color: #d7cfb6;
$main-bg-color: #e2dac0;

$font-weight: (
  "regular": 400,
  "mediumm": 500,
  "bold": 700,
);
$font-size: (
  "miny": 8px,
  "smaller": 10px,
  "small": 12px,
  "middle": 14px,
  "large": 18px,
);
